.l-form {
  margin: 0 auto;
  border: 1px solid lightgray;
  padding: 2rem;
  margin-top: 2rem;

}

.section {
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0.5rem auto;
  max-width: 800px;
  min-height: 100vh;
}

a {
  color: lightgray;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  text-decoration: none;
}

a:hover {
  color: #aa00aa;
}

.btn {
  background-color: #aa00aa;
  border: none;
  width: 145px;
  padding: .8rem 0;

  }

  .btn:nth-child(2){
    background-color: rgb(40, 231, 104);
  }

   .btn:nth-child(1){
    background-color: rgb(63, 158, 221);
  }

   .btn:nth-child(3){
    background-color: rgb(231, 35, 35);
  }

.btn:hover {
  opacity: 60%;
}

.buttons_box {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  }

  @media (min-width:720px){

    .buttons_box{
      width: 80%;
      margin-bottom: 1rem;
    }
    .btn{
      width: 180px;
    }
  }

