<header class="header">
  <nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="../assets/icons/favicon-32x32.png" alt="" width="40" height="38"
          class="d-inline-block align-text-top header-icon">

      </a>

      <ul class="nav justify-content-center">

        <li class="nav-item">
          <a class="nav-link" routerLink="/mural">Mural Vagas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/painel">Cadastro Vagas</a>
        </li>
      </ul>
    </div>
  </nav>
</header>
