/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;900&display=swap');

body {
  font-family: 'Poppins', sans-serif;
}

h1,h3,h4,h5{
  font-weight: 600;
  opacity: 80%;
}

h2{
  font-weight: 700;

}

